* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;


}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-image: url(imagen/NBA-All-Star-Weekend-Guide.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    color: white;
    font-size: 25px;
    font-weight: 800;

}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li{
    font-size: 18px;
    padding: 20px;
    color: rgb(255, 252, 254);
    display: block;
    font-weight: 600;
}

#menu{
    display: none;

}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-txt{
    text-align: center;
}

.header-txt h1{
    font-size: 85px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.header-txt p {
    color: white;
    font-size: 16px;
    padding: 0 250px;
    margin-bottom: 45px;


}

.btn-1{
    display: inline-block;
    padding: 12px 45px;
    border: 1px solid white;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.btn-1:hover{
    color: black;
    background-color: white;

}

.general{
    padding: 50px 0;
    text-align: center;
}

.general-content{
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}

.general-1{
    background-image: url(imagen/ESTRELLAS.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 170px 55px;
}

.general-2{
    background-image: url(imagen/JUGADORES\ ANTIGUOS.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 170px 55px;
}

.general-3{
    background-image: url(imagen/bill.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 170px 55px;
}

.general-4{
    background-image: url(imagen/lebronjames.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 170px 55px;
}

.general-5{
    background-image: url();
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 170px 55px;
}

.general-6{
    background-image: url(imagen/muggsy.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 170px 55px;
}

h2{
    font-size: 70px;
    text-transform: uppercase;
    color: black;
}

.txt h3{
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.txt p{
    color: black;
    font-size: 16px;
}

.info-1{
    padding: 250px 0;
    background-image: url(imagen/canasta.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}